<link rel="stylesheet" type="text/css" href="/stylesheets/admin/adminHome.css">
<script type="text/javascript" src="/javascripts/controllers/admin/adminHomeController.js"></script>

<div ng-controller="adminHomeController" class="loginContainer">

  <div class="pageContent adminContent loginContent">
    <div class="pageTextCont loginTextCont">
      <div class="pageTextWrapper loginTextWrapper">
        <h1 class="pageText loginText">
          <ts text="Admin Home"></ts>
        </h1>
      </div>
    </div>
    <div class="container pageMainContentContainer loginMainContentContainer"></div>
  </div>

</div>