<h1>Log In</h1>

<form method='POST' action='/admin/session'>
  <p>
    <label for='username'>User name: </label>
    <input id='username' name='username'>
  </p>
  <p>
    <label for='password'>Password: </label>
    <input id='password' type='password' name='password'>
  </p>
  <p>
    <input type='submit' value='Log In'>
  </p>
</form>