<link rel="stylesheet" type="text/css" href="stylesheets/house/house.css">
<script type="text/javascript" src="javascripts/controllers/house/HouseController.js"></script>

<div ng-controller="HouseController" class="houseContainer">
  
  <div class="pageContentContainer houseContentContainer">
    <div class="pageContent houseContent">
      <div class="pageTextCont houseTextCont">
        <div class="pageTextWrapper houseTextWrapper">
          <h1 class="pageText houseText">
            <ts text="The House"></ts>
          </h1>
        </div>
      </div>
      <div class="container pageMainContentContainer houseMainContentContainer">
        <img class="imgShadow" src="images/homepage/Background.png">
      </div>
    </div>
  </div>
  <!-- <div class="greyMediaContainer">
    <a ng-repeat="img in viewModel.houseImgs" 
       ng-click="viewModel.setHouseImg($index)"
       data-toggle="modal" 
       data-target="#imgViewerModal">
      <div class="gmcImgDiv">
        <img class="gmcImg" ng-src="{{img.src}}">
      </div>
    </a>
  </div> -->
</div>