<div class = "row-fluid">
  <div class = "section wordPresSection">
    <legend style = "border-color: white"><h1 class = "presTitle" style = "text-align: center; color: white">A Word from the President</h1></legend>
    <div class = "wordPresWell well well-large">
      <div style = "color: black">
        <legend style = "padding-bottom: 20px; border-bottom: 1px solid black"><img src = "images/homepage/PresidentPic.jpg" class = "presPic img-polaroid"></legend>
        <h3 style = "text-align: center">David McClelland</h3>
        <div class = "wordPresTextContainer">
          <p class = "wordPresText" style = "text-align: center">
            They say college is the best 4 years of your life. While you&#146;re here, your university teaches you much more than what it offers the classroom; you learn things about yourself you never thought you were capable of, and the decisions you make while you&#146;re an undergraduate will forever influence your future success. Who will you spend these 4 critical years with? Based on our 3 pillars of trust, respect, and brotherhood, Nu Delta Fraternity has given me my second family and my home away from home. Here, we make friendships that last much longer than 4 years, and make connections that last a lifetime.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class = "section">
    <div class = "eventsWell well well-large">
      <legend class = "sectionHead"><h1><a style = "color: black" href = "events">Events</a></h1></legend>
        <div class = "row" style = "margin: 0px">
          <div style = "display: inline-block">
            <h4 class = "colorCodeText">Rush</h4><div class = "colorCode rushColor"></div>
          </div>
          <div style = "display: inline-block">
            <h4 class = "colorCodeText">CPW</h4><div class = "colorCode cpwColor"></div>
          </div>
          <div style = "display: inline-block">
            <h4 class = "colorCodeText">Other Events</h4><div class = "colorCode otherEventsColor"></div>
          </div>
        </div>
      <div class = "content eventsContent">

        <!--Months get appended here-->

      </div>
    </div>
  </div>

  <div class = "section">
    <div class = "leftWell brosWell well well-large">
      <legend class = "sectionHead"><h1><a style = "color: black" href = "/brothers">Meet the Brothers</a></h1></legend>
      <div class = "content brosContent">
        <a href = "/brothers"><img class = "brosContentPic img-polaroid" src = "images/homepage/MaineHouse2013.jpg"></a>
        <p style = "text-align: center; font-size: 14pt; margin: 0px; margin-top: 16px">Want to learn more about the brothers?  Click here to check them out</p>
      </div>
    </div>
    <div class = "leftWell aboutWell well well-large">
      <legend class = "sectionHead"><h1><a style = "color: black" href = "/about">About Us</a></h1></legend>
      <div class = "content aboutContent">
        <h5>Contact Info</h5>
        <p>Email: nd_president@mit.edu.</p>
        <h5>Location</h5>
        <p>460 Beacon Street</p>
        <p>Boston, Massachusetts, 02115</p>
        <a href="https://maps.google.com/maps?q=460+Beacon+Street,+Boston,+MA&hl=en&sll=42.351474,-71.087816&sspn=0.006684,0.016512&oq=460+Beacon+Street+&t=h&hnear=460+Beacon+St,+Boston,+Suffolk,+Massachusetts+02115&z=17&iwloc=A">
          <img id = "locationImg" src = "images/homepage/LocationMapsPic.jpg">
        </a>
      </div>
    </div>
  </div>
</div>