<div class = "tree">
	<ul>
		<li>
			<a href="#">Nana Essilfie-Conduah (2011)</a>
			<ul>
				<li>
					<a href="#">Kwesi Phillips (2014)</a>
					<ul>
						<li>
							<a id="2017-5" href="#">Narindra Peaks (2017)</a>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">Kwami Williams (2012)</a>
					<ul>
						<li>
							<a href="#">Kojo Welbeck (2014)</a>
							<ul>
								<li>
									<a id="2015-5" href="#">Ebenezer Sefah (2015)</a>
									<ul>
										<li>
											<a id="2016-2" href="#">Brian Wilcox (2016)</a>
										</li>
									</ul>
								</li>
								<li><a id="2017-1" href="#">Amin Manna (2017)</a></li>
							</ul>
						</li>
						<li><a href="#">Malcom Gilbert (2013)</a></li>
						<li><a id="2015-8" href="#">Fidelis Chimombe (2015)</a></li>
					</ul>
				</li>
				<li>
					<a href="#">Prosper Nyovanie (2013)</a>
				</li>
			</ul>
		</li>
	</ul>
</div>