<div class="tree">
  <ul>
    <li>
      <a href="#">Anthony Merriman</a>
      <ul>
        <li>
          <a href="#">Peter Lee (2013)</a>
          <ul>
            <li>
              <a id="2015-7" href="#">Saulo Mendoza (2015)</a>
            </li>
            <li>
              <a id="2016-3" href="#">Alejandro Romero (2016)</a>
              <ul>
                <li>
                  <a id="2017-6" href="#">James Rivera (2017)</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>