<div class = "tree">
  <ul>
    <li>
      <a href = "#">Guillermo Chicas (2003)</a>
      <ul>
        <li>
          <a href="#">Jordan McRae (2005)</a>
          <ul>
            <li><a href="#">Nicholas Villarruel (2006)</a></li>
            <li>
              <a href="#">David Croom</a>
              <ul>
                <li>
                  <a href="#">Kris Dos Santos</a>
                  <ul>
                    <li><a href="#">Jason Douglas</a></li>
                    <li><a href="#">Phillip Mercer</a></li>
                  </ul>
                </li>
                <li>
                  <a href="#">Ryan Slaughter</a>
                  <ul>
                    <li>
                      <a href="#">Jason Scott</a>
                      <ul>
                        <li><a href="#">Jonathan Blackwood</a></li>
                      </ul>
                    </li>
                    <li>
                      <a href="#">Manny Corral</a>
                      <ul>
                        <li>
                          <a href="#">Sebastian Leon (2014)</a>
                          <ul>
                            <li>
                              <a id="2016-4" href="#">Daniel Sanchez (2016)</a>
                              <ul>
                                <li>
                                  <a id="2018-6" href="#">Kristopher Wiggins (2018)</a>
                                </li>
                              </ul>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="#">Kwadwo Nyarko</a></li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li>
          <a href="#">Carlos Rangel (2006)</a>
          <ul>
            <li><a href="#">Danny Campos</a></li>
            <li><a href="#">Steven Nunez</a></li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</div>