body{
	margin: 0;
}

.header{
	width: 100%;
	height: 30px;
  padding: 5px;
	top: 0;
	background-color: rgba(70, 70, 70, 0.5);
	position: fixed;
	z-index: 10;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;         
}
.headerUnderlay {
  height: 40px;
}

.header #linksContainer {
  text-align: center;
}

.header #linksContainer .linkDiv{
  padding: 0 8px;
  display: inline-block;
}

.header #linksContainer .link {
  color: white;
}

/**/