<div class = "section">
    <legend style = "border-color: white"><h1 class = "brotherTitle" style = "text-align: center; color: white">Meet the Nu Delta Brothers</h1></legend>
    <div class = "wordPresWell well well-large">
        <legend>
            <!-- Carousel of images brothers/-->
            <div id="myCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                    <li data-target="#myCarousel" data-slide-to="7"></li>
                    <li data-target="#myCarousel" data-slide-to="8"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img class = "carouselImg" src = "images/brothers/MaineHouse2013.jpg"></div>
                    <div class="item">
                      <object class = "carouselImg">
                        <param name="movie" value="https://www.youtube.com/v/M7H1QQegVxs?version=3"></param>
                        <param name="allowFullScreen" value="true"></param>
                        <param name="allowScriptAccess" value="always"></param>
                        <embed class = "carouselImg" src="https://www.youtube.com/v/M7H1QQegVxs?version=3" type="application/x-shockwave-flash" allowfullscreen="true" allowScriptAccess="always" height = "100%"></embed>
                      </object>
                    </div>
                    <div class="item"><img style = "margin-top: -90px" class = "carouselImg" src = "images/brothers/NDApplePicking3.jpg"></div>
                    <div class="item"><img style = "height: 100%; width: auto; margin: 0 auto 0 auto; display: block" class = "carouselImg" src = "images/brothers/NDComposite.jpg"></div>
                    <div class="item"><img class = "carouselImg" src = "images/brothers/NuSoul.jpg"></div>
                    <div class="item"><img class = "carouselImg" src = "images/brothers/Beach2.jpg"></div>
                    <div class="item"><img class = "carouselImg" src = "images/brothers/2014Formal.jpg"></div>
                    <div class="item"><img class = "carouselImg" src = "images/brothers/2015Ring.jpg"></div>
                    <div class="item"><img class = "carouselImg" src = "images/brothers/Beach1.jpg"></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
            <h3></h3>
        </legend>
        <div class = "broHomeContent">
              Along with trust and respect, one of the most important pillars of Nu Delta is brotherhood. 
              The fraternity brothers are like family to each other, and have grown to become amazing individuals. 
              Click on each of the classes to learn more about brothers from a specific class
        </div>
    </div>
</div>
<div class = "section">
   <!-- Class of 2014 -->
   <a href = "brothers/2014">
       <div class = "well well-large classWell">
           <legend><h1>Class of 2014</h1></legend>
           <div class = "content">
               <img class = "classImg" src = "images/brothers/2014/2014Cover.jpg">
           </div>
       </div>
   </a>
</div>
<div class = "section">
   <!-- Class of 2015 -->
   <a href = "brothers/2015">
       <div class = "well well-large classWell">
           <legend><h1>Class of 2015</h1></legend>
           <div class = "content">
               <img class = "classImg" src = "images/brothers/2015/2015Cover.jpg">
           </div>
       </div>
   </a>
</div>
<div class = "section">
   <!-- Class of 2016 -->
   <a href = "brothers/2016">
       <div class = "well well-large classWell">
           <legend><h1>Class of 2016</h1></legend>
           <div class = "content">
               <img class = "classImg" src = "images/brothers/2016/2016Cover.jpg">
           </div>
       </div>
   </a>
</div>
<div class = "section">
   <!-- Class of 2017 -->
   <a href = "brothers/2017">
       <div class = "well well-large classWell">
           <legend><h1>Class of 2017</h1></legend>
           <div class = "content">
               <img style = "margin-left: -50px; max-width: none" class = "classImg" src = "images/brothers/2017/2017Cover.jpg">
           </div>
       </div>
   </a>
</div>