<div id="navigator">
  <div id="navigatorCont">
    <div id="navBulletCont">
      <div class="navBulletWrapper">
        <div id="navBullet1" class="navBullet" data-toggle="tooltip" title="Routes">
        </div>
      </div>
      <div class="navBulletWrapper">
        <div id="navBullet2" class="navBullet" data-toggle="tooltip" title="People">
        </div>
      </div>
      <div class="navBulletWrapper">
        <div id="navBullet3" class="navBullet" data-toggle="tooltip" title="Progress">
        </div>
      </div>
      <div class="navBulletWrapper">
        <div id="navBullet4" class="navBullet" data-toggle="tooltip" title="Progress">
        </div>
      </div>
      <div class="navBulletWrapper">
        <div id="navBullet5" class="navBullet" data-toggle="tooltip" title="Progress">
        </div>
      </div>
      <div class="navBulletWrapper">
        <div id="navBullet6" class="navBullet" data-toggle="tooltip" title="Progress">
        </div>
      </div>
      <div class="navBulletWrapper">
        <div id="navBullet7" class="navBullet" data-toggle="tooltip" title="Progress">
        </div>
      </div>
    </div>
  </div>
</div>