<link rel="stylesheet" type="text/css" href="stylesheets/brothers/brotherHome.css">
<script type="text/javascript" src="javascripts/controllers/brothers/BrotherHomeController.js"></script>
<div ng-controller="brotherHomeController">

  <%- partial('brothers/partials/wideLayout') %>

</div>