<link rel="stylesheet" type="text/css" href="/stylesheets/brothers/brotherClass.css">
<script type="text/javascript">
  var brotherClassViewVars = {
    classYear: <%- classYear %>
  }
</script>
<script type="text/javascript" src="/javascripts/controllers/brothers/BrotherClassController.js"></script>

<div ng-controller="brotherClassController" class="brotherClassContainer">

  <div class="brotherClassContentContainer">
    <div class="brotherClassContent">
      <ts word="viewModel.classYearText"></ts>
    </div>
  </div>

  <div id="brotherSelector">
    <div ng-repeat="brother in viewModel.brothers" 
         class="brotherIconWrapper"
         brother-icon-directive>
      <div id="brotherIcon{{$index}}" 
           class="imgShadow brotherIcon">
        <img ng-src="{{brother.iconSrc}}"
             class="brotherIconImg">
      </div>
    </div>
  </div>

</div>