<link rel="stylesheet" type="text/css" href="/stylesheets/brothers/brotherClass.css">
<script type="text/javascript">
  var brotherClassViewVars = {
    classYear: <%- classYear %>
  }
</script>
<script type="text/javascript" src="/javascripts/controllers/brothers/BrotherClassController.js"></script>

<div ng-controller="brotherClassController" class="brotherClassContainer">
  <div id="brotherSelector">
    <div ng-repeat="brother in viewModel.brothers" 
         id="brotherIcon{{$index}}" 
         class="imgShadow brotherIcon">
      <img class="brotherIconImg" ng-src="{{brother.iconSrc}}" brother-icon-directive>
    </div>
  </div>
</div>