html, body {
  width: 100%; 
  height: 100%;
}

body {
  padding: 0px;
  font: 14px "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, i, b, a, option {
  font-family: "Lato", "Lucida Grande", Helvetica, Arial, sans-serif;
  color: inherit;
  font-weight: 300;
}

b {
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.4;
}

h1, h2, h3 {

}

h4, h5, h6 {

}

p, i, b, a, option {

}

a {
  color: #00B7FF;
}

table {
  width: 100%;
}

table td {
  vertical-align: middle;
}

img {
  max-height: 100%;
  max-width: 100%;
}

legend {
  border-color: #4d4d4d;
}

/* NanoScroller
-------------------------------------------------------- */

.nano .nano-content { padding: 14px; }
.nano .nano-pane { 
  background: rgba(200,200,200,.5);
  margin: 2px;
  display: block;
  padding: 0;
  width: 8px;
  border-left: 1px solid rgba(255,255,255,.5);
  border-right: 1px solid rgba(255,255,255,.5);
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
.nano .nano-pane:hover { 
  width: 16px;
  border-radius: 8px;
}
.nano .nano-pane:hover .nano-slider {
  border-radius: 7px;
}
.nano .nano-slider { background: #111; }

/* Directives
-------------------------------------------------------- */

.wordSeparator {
  width: 100%;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.wordSeparator .lineContainer {
  width: 50%;
}

.wordSeparator .wordContainer {
  text-align: center;
}

.wordSeparatorLine {
  border-bottom: 1px solid #4d4d4d;
}

.wordTextContainer {
  padding: 10px;
  display: inline-block;
  white-space: nowrap;
}

.wordText {
  margin: 0;
  display: inline-block;
}

/* Universal CSS
-------------------------------------------------------- */
.imgShadow {
  box-shadow: 5px 5px 26px rgba(0, 0, 0, 0.7);
}

.nameLegend {
  padding-left: 25px;
}

/* ---- */

.pageContentContainer {
  height: 100%;
}

.pageContent {
  color: white;
  height: 100%;
  overflow: auto;
  background: #a90329; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E5MDMyOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ0JSIgc3RvcC1jb2xvcj0iIzhmMDIyMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2ZDAwMTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-8 */
}

.pageContent .pageTextCont {
  position: fixed;
  overflow: hidden;
  margin: 30px 0 0 0;
  z-index: 10;
  pointer-events: none;
  width: 100%;
}

.pageContent .pageTextWrapper {
  background-color: rgba(36, 36, 36, 0.8);
  box-shadow: 0 0 50px 50px rgba(36, 36, 36, 0.8);
  margin-bottom: 105px;
  padding: 0 10px;
}

.pageContent .pageText {
  margin: 0;
}

.pageContent .pageText .wordTextContainer {
  padding: 5px 10px;
}

.pageContent .pageText .wordSeparatorLine {
  border-bottom: 1px solid white;
}

.pageContent .pageMainContentContainer {
  padding-top: 150px;
  background-color: white;
  color: #4d4d4d;
  box-shadow: 0 0 75px 20px #4d4d4d;
  min-height: 100%;
}