<link rel="stylesheet" type="text/css" href="stylesheets/rak/rak.css">

<!-- Controller -->
<script type="text/javascript" src="/javascripts/controllers/rak/rak.js"></script>

<!-- /////////////////////////////// -->

<div class="pageContentContainer">
  <div class="pageContent">
    <div class="container pageMainContentContainer">
      <div class="page-header">
          <h1 class="tab">Random Act of Kindness Week <small>Making Everyone's day a bit brighter</small></h1>
      </div>

      <br>
      <br>
        <div class="intro">
          <div id="random" class="left-start" style = 'opacity: 0'><span class="first-letter">R</span><span class="slide">andom</span></div>
          <div id="acts" class ="right-start" style = 'opacity: 0'><span class="first-letter">A</span> <span class="slide">cts of</span></div>
          <div id="kindness" class="left-start" style = 'opacity: 0'><span class="first-letter">K</span> <span class="slide">indness</span></div>
        </div>

      <div id="banner" style='opacity: 0'>
        <center><img src="images/rak/RAK_week_banner.png"  height="300px" width="400px"></center>

        <div class="text" >
          <p>RAK Week (M-F Mar. 28 - Apr. 1) is a time dedicated to connecting the MIT community through small acts of kindness and spreading happiness around campus during one of the tougher times in the year. It is also a week filled with chance meetings, and a time for students to meet members of different support resources on campus. A full schedule for the week is below. Everyone is encouraged to add spontaneous random acts... such as open doors, coffee-hours, give-aways, compliments, and surprises:</p>

        </div>
      </div>
      <br>
      <br>



        <div class="content"></div>
          <center><strong><h2>RAK Week Schedule</h2></strong></center>
        <div class="panel panel-default">

          <div class="panel-body">

            <ul class="list-group">
            <li class="list-group-item">Day 1: <a target="none" href="https://mindhandheart.mit.edu/events/rak-week-random-acts-kindness-kick-lobby-10#calendar">Kick Off</a> </li>
            <li class="list-group-item">Day 2: <a target="none"  href="https://mindhandheart.mit.edu/events/mit%C2%A0connect-lunches-sign#calendar">Peer Resources in Lobby 10</a> </li>
            <li class="list-group-item">Day 3: <a target="none"  href="https://mindhandheart.mit.edu/events/rak-week-institute-support-resources-lobby-10#calendar">Insitutional Resources in Lobby 10</a> </li>
            <li class="list-group-item">Day 4: <a target="none"  href="https://mindhandheart.mit.edu/events/rak-week-diy-rak-hacks-mitrak#calendar">Do Your Own Rack Hack</a> </li>
            <li class="list-group-item">Day 5: <a target="none"  href="https://www.facebook.com/events/520855698099030/">Community Wide Open Mic</a> </li>
          </ul>
          </div>
        </div>

      <center>

      <div class="links">
        <h2>Read more about RAK Week!</h2>
        <br>
        <center>
          <table class="table">
            <tr>
              <td><center><a href="http://news.mit.edu/2016/sophomores-champion-random-acts-of-kindness-week-0317">MIT News Article</a></center></td>
              <td><center><a href="https://www.facebook.com/activemindsatmit/posts/1233596986655604">RAK Week Facebook page </a></center></td>
              <td><center><a href="https://mindhandheart.mit.edu/events/random-acts-kindness#calendar">Mind+Hand+Heart Initiative Page</a></center></td>

            </tr>
            
            <tr>
              <td><center><a href="rak_flyer.jpg">RAK Week Poster</a></center></td>
              <td><center><a href="card_back.png">RAK Week Info Card</a></td>
              <td><center><a href="https://libraries.mit.edu/news/libraries-promote-random/21755/">MIT Libraries Get Involved</a></center></td>
            </tr>
          </table>
        </center>
      </div>
        <div class = "footer">With <span class ="glyphicon glyphicon-heart heart"></span> from Nu Delta, OME, Baker Foundation, Mind+Hand+Heart Initiative</div>
      </center>
      <br>
    </div>
  </div>
</div>