body{
  overflow: auto;
  /*background-image: url("Images/NDPattern2.PNG")*/
  background: url(/images/brothers/NDPattern2.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#navigator {
  color: white;
  position: fixed;
  padding: 30px 0 0 0 ;
  border-radius: 4px;
  right: 0;
  z-index: 3;
  height: 100%;
  text-align: right;
}

#navigatorCont {
  height: 100%;
  display: inline-flex;
}

#navBulletCont {
  display: inline-block;
  margin: auto;
}

.navBullet {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;
  border-radius: 50px;
  background-color: white;
  opacity: 0.5;
  cursor: pointer;
  webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
