#brotherSelector {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

#brotherSelector .brotherIconWrapper {
  display: inline-block;
  max-width: 80px;
  max-height: 80px;
  padding: 10px;
  cursor: pointer;
  overflow: visible !important;
}

#brotherSelector .brotherIcon {
  width: 100%;
  height: 100%;
  background-color: black;
  border-radius: 35px;
  overflow: hidden;
  webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#brotherSelector .brotherIconImg {
  height: 100%;
}