#brotherSelector {
  position: fixed;
  bottom: 0;
  z-index: 10;
  width: 100%;
  text-align: center;
}

#brotherSelector .brotherIcon {
  display: inline-block;
  width: 70px;
  height: 70px;
  margin: 10px;
  border-radius: 35px;
  background-color: black;
  overflow: hidden;
  cursor: pointer;
  webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

#brotherSelector .brotherIconImg {
  height: 100%;
}