<link rel="stylesheet" type="text/css" href="/stylesheets/navbar/navbar.css">

<script type="text/javascript" src="/javascripts/controllers/navbar/NavBarController.js"></script>
<script type="text/javascript" src="/javascripts/services/ndService.js"></script>

<div data-ng-controller="navbarController" class="header">
  <div id="linksContainer">
    <a ng-repeat="link in viewModel.links"
       class="link"
       href="{{link.href}}">

      <div class="linkDiv">
        <span class="glyphicon glyphicon-{{link.icon}}"></span>
        {{link.text}}
      </div>
    </a>
  </div>
</div>
<div class="headerUnderlay"></div>