<link rel="stylesheet" type="text/css" href="stylesheets/navbar.css">
<script type="text/javascript" src="javascripts/services/navService.js"></script>
<div style="background-color: white">
  <img class="NDTitle" src="images/Title3.png">
</div>
<div class="linkbar">
  <ul id="linkList">
    <a class="link" ng-repeat="link in viewModel.links" id="link{{link.text}}" href="{{link.href}}">
      <li class="listLink" id="#">{{link.text}}</li>
    </a>
  </ul>
</div>
<div id="titleBar">
  <a href="NDWebsite.html">
    <img class="titleText" src="images/NavBarND.png">
  </a>
  <span class="glowContainer">
    <svg class="iconGlow" width="120px" height="120px">
      <circle cx="60" cy="60" r="39" fill="white"></circle>
    </svg>
  </span>
  <a href="#">
    <img id="blackPI" class="phoenixIcon" src="images/BlackPhoenixIcon.png">
  </a>
  <a href="NDWebsite.html">
    <img id="whitePI" class="phoenixIcon" src="images/PhoenixIcon.png">
  </a>
</div>