<link rel="stylesheet" type="text/css" href="stylesheets/homepage/homepage.css">
<script type="text/javascript" src="javascripts/controllers/homepage/HomePageController.js"></script>

<div ng-controller="homepageController" id="homepageContainer">

  <div ng-if="viewModel.windowWidth < 1100">
    <%- partial('homepage/partials/smallLayout') %>
  </div>
  <div ng-if="viewModel.windowWidth >= 1100">
    <%- partial('homepage/partials/wideLayout') %>
  </div>

</div>