<script type="text/javascript" src="javascripts/controllers/HomePageController.js"></script>
<div ng-controller="homepageController" class="bgContainer">
  <!-- <img class = "background" src="Images/Background.PNG"> --> 
  <!-- <img class = "background" src = "Images/NDPattern2.PNG"> -->
  <div id="trpDiv">
    <h1 id="trust">Trust</h1>
    <h1 id="respect">Respect</h1>
    <h1 id="brotherhood">Brotherhood</h1>
  </div>
</div>
<div class="container-fluid" id = "mainContainer">
  
</div>