<table id="wordPresTable">
  <tr>
    <td width="300">
      <img src="images/homepage/PresidentPic.png" class="imgShadow presPic">
    </td>
    <td id="wordPresCol">
      <legend class="nameLegend">
        <h1 id="wordPresLegendText">A Word From the President</h1>
      </legend>
      <i id="wordPresName">Eric Shirley</i>
    </td>
  </tr>
</table>
<div id="wordPresText">
  <h3>
    <span style="font-size: 48px">M</span>IT is difficult. Like, really difficult. And it’s difficult in more than just an academic sense. Having a community plays such an important role in the success of each individual. Nu Delta Fraternity provides that community to its brothers, and friends, helping us all thrive academically, socially, and personally. Founded on the values of Trust, Respect, and Brotherhood, we strive to succeed as young adults in the crazy journey that is MIT, and make friendships and connections cherished well beyond our four years at the Institute.
  </h3>
</div>

<div class="feedSection brothersFeedSection">
  <h2>  
    <ts text="Brothers"></ts>
  </h2>
  <div class="feedImageCont brotherFeedImageCont">
    <a href="/brothers">
      <img class="imgShadow feedImage brotherFeedImage" src="images/homepage/MaineHouse2013.jpg">
    </a>
  </div>
  <div class="sectionText">
    <h3>The brothers of Nu Delta share a tight bond that brings us together, and promotes our success as individuals.  To learn more about the individual brothers, click the image above.</h3>
  </div>
</div>

<div class="feedSection houseFeedSection">
  <h2>  
    <ts text="House"></ts>
  </h2>
  <div class="feedImageCont houseFeedImageCont">
    <a href="/house">
      <img class="imgShadow feedImage houseFeedImage" src="images/house/houseImgs/CharlesView.jpg">
    </a>
  </div>
  <div class="sectionText">
    <h3>Many of the brothers reside in our lovely 4 story mansion located at 460 Beacon Street in Boston.  For many of the brothers, this is where our fondest MIT memories are made, so we take great pride in our house.  Click on the view from our roofdeck shown above to learn more about the house!</h3>
  </div>
</div>