    <div class="homeInnerContainer">
      <div class="homeSection containerLeft">
        <legend class = "sectionHead">
          <h1><a style = "color: black" href = "/events">Events</a></h1>
        </legend>
        <div class = "row" style = "margin: 0px">
          <div style = "display: inline-block">
            <h4 class = "colorCodeText">Rush</h4><div class = "colorCode rushColor"></div>
          </div>
          <div style = "display: inline-block">
            <h4 class = "colorCodeText">CPW</h4><div class = "colorCode cpwColor"></div>
          </div>
          <div style = "display: inline-block">
            <h4 class = "colorCodeText">Other Events</h4><div class = "colorCode otherEventsColor"></div>
          </div>
        </div>
        <div class = "eventsContent">
          {{viewModel.monthWithEvents}}
          <div ng-repeat="month in viewModel.monthsWithEvents" class="{{month}}">

            <ows word="month"></ows>
            
            <div ng-repeat="event in viewModel.futureEvents[month]" 
                 class = "monthEvent">
              <h4 class = "eventTitle">{{event.name}}</h4>
              <h6 class = "eventDate">{{event.moment}}</h6>
              <h6 class = "eventTime">{{event.time}}</h6>
              <h6 class = "eventLocation">{{event.location}}</h6>
              <p class = "eventDescription">{{event.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="homeSection containerRight">
        <div class="containerRightContent">
          <div class="titleContainer">
            <table id="titleTable">
              <tr>
                <td height="200"><img id="mainIcon" src="/images/PhoenixIcon.png"></td>
                <td width="100%">
                  <legend id="nudeltaTextLegend">
                    <h1 id="nudeltaText">Nu Delta</h1>
                  </legend>
                </td>
              </tr>
            </table>
          </div>
          <div id="homeFeed">
            <table id="wordPresTable">
              <tr>
                <td width="300">
                  <img src="images/homepage/PresidentPic.jpg" class="imgShadow presPic">
                </td>
                <td id="wordPresCol">
                  <legend id="wordPresLegend">
                    <h1 id="wordPresLegendText">A Word From the President</h1>
                  </legend>
                  <i id="wordPresName">David McClelland</i>
                </td>
              </tr>
            </table>
            <div id="wordPresText">
              <h3>
                <span style="font-size: 36px">T</span>hey say college is the best 4 years of your life. While you&#146;re here, your university teaches you much more than what it offers the classroom; you learn things about yourself you never thought you were capable of, and the decisions you make while you&#146;re an undergraduate will forever influence your future success. Who will you spend these 4 critical years with? Based on our 3 pillars of trust, respect, and brotherhood, Nu Delta Fraternity has given me my second family and my home away from home. Here, we make friendships that last much longer than 4 years, and make connections that last a lifetime.
              </h3>
            </div>
            
            <div class="feedSection brothersFeedSection">
              <ows word="viewModel.brotherTitle"></ows>
              <div class="brotherFeedImageCont">
                <a href="/brothers">
                  <img class="imgShadow brotherFeedImage" src="images/homepage/MaineHouse2013.jpg">
                </a>
              </div>
              <h3>The brothers of Nu Delta share a tight bond that brings us together, and promotes our success as individuals.  To learn more about the individual brothers, click the image above.</h3>
            </div>

            <div class="feedSection houseFeedSection">
              <ows word="viewModel.houseTitle"></ows>
              <div class="houseFeedImageCont">
                <a href="/house">
                  <img class="imgShadow houseFeedImage" src="images/house/houseImgs/CharlesView.jpg">
                </a>
              </div>
              <h3>Many of the brothers reside in our lovely 4 story mansion located at 460 Beacon Street in Boston.  For many of the brothers, this is where our fondest MIT memories are made, so we take great pride in our house.  Click on the view from our roofdeck shown above to learn more about the house!</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="aboutFooter">
      <div class="aboutFooterContent">
        <table>
          <tr>
            <td id="facebookCol" class="aboutCol" height="80px">
              <a href="https://www.facebook.com/MIT.ND?ref=br_tf">
                <img class="aboutImg" src="/images/PhoenixIcon.png">
              </a>
            </td>
            <td id="" class="aboutCol" height="80px">
              <a href="#">
                <img class="aboutImg" src="/images/PhoenixIcon.png">
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>

<!---->

<!-- <div class = "row-fluid">
  <div class = "section span3">
    <div class = "eventsWell well well-large">
      <legend class = "sectionHead">
        <h1><a style = "color: black" href = "/events">Events</a></h1>
      </legend>
      <div class = "row" style = "margin: 0px">
        <div style = "display: inline-block">
          <h4 class = "colorCodeText">Rush</h4><div class = "colorCode rushColor"></div>
        </div>
        <div style = "display: inline-block">
          <h4 class = "colorCodeText">CPW</h4><div class = "colorCode cpwColor"></div>
        </div>
        <div style = "display: inline-block">
          <h4 class = "colorCodeText">Other Events</h4><div class = "colorCode otherEventsColor"></div>
        </div>
      </div>
      <div class = "content eventsContent">
        {{viewModel.monthWithEvents}}
        <div ng-repeat="month in viewModel.monthsWithEvents" class="{{month}}">
          <legend class = "monthText">{{month}}</legend>
          <div ng-repeat="event in viewModel.futureEvents[month]" 
               class = "monthEvent">
            <h4 class = "eventTitle">{{event.name}}</h4>
            <h6 class = "eventDate">{{event.moment}}</h6>
            <h6 class = "eventTime">{{event.time}}</h6>
            <h6 class = "eventLocation">{{event.location}}</h6>
            <p class = "eventDescription">{{event.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = "section span6 wordPresSection">
    <legend style = "border-color: white"><h1 class = "presTitle" style = "text-align: center; color: white">A Word from the President</h1></legend>
    <div class = "wordPresWell well well-large">
      <div style = "color: black">
        <legend style = "padding-bottom: 20px; border-bottom: 1px solid black"><img src = "images/homepage/PresidentPic.jpg" class = "presPic img-polaroid"></legend>
        <h3 style = "text-align: center">David McClelland</h3>
        <div class = "wordPresTextContainer">
          <p class = "wordPresText" style = "text-align: center">
            They say college is the best 4 years of your life. While you&#146;re here, your university teaches you much more than what it offers the classroom; you learn things about yourself you never thought you were capable of, and the decisions you make while you&#146;re an undergraduate will forever influence your future success. Who will you spend these 4 critical years with? Based on our 3 pillars of trust, respect, and brotherhood, Nu Delta Fraternity has given me my second family and my home away from home. Here, we make friendships that last much longer than 4 years, and make connections that last a lifetime.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class = "section span3">
    <div class = "leftWell brosWell well well-large">
      <legend class = "sectionHead"><h1><a style = "color: black" href = "NDBrothersHome.html">Meet the Brothers</a></h1></legend>
      <div class = "content brosContent">
        <a href = "/brothers"><img class = "brosContentPic img-polaroid" src = "images/homepage/MaineHouse2013.jpg"></a>
        <p style = "text-align: center; font-size: 14pt; margin: 0px; margin-top: 16px">Want to learn more about the brothers?  Click here to check them out</p>
      </div>
    </div>
    <div class = "leftWell aboutWell well well-large">
      <legend class = "sectionHead"><h1><a style = "color: black" href = "/about">About Us</a></h1></legend>
      <div class = "content aboutContent">
        <h5>Contact Info</h5>
        <p>Email: nd_president@mit.edu.</p>
        <h5>Location</h5>
        <p>460 Beacon Street</p>
        <p>Boston, Massachusetts, 02115</p>
        <a href="https://maps.google.com/maps?q=460+Beacon+Street,+Boston,+MA&hl=en&sll=42.351474,-71.087816&sspn=0.006684,0.016512&oq=460+Beacon+Street+&t=h&hnear=460+Beacon+St,+Boston,+Suffolk,+Massachusetts+02115&z=17&iwloc=A">
          <img id = "locationImg" src = "images/homepage/LocationMapsPic.jpg">
        </a>
      </div>
    </div>
  </div>
</div> -->